<script setup lang="ts">
import router from "@/router";
</script>
<template>
  <div>Show MyFile</div>
  <router-link to="/starred-view">Starrrr</router-link>
  <v-btn to="starred-view">Starred</v-btn>
</template>
