<script setup lang="ts">
import FrameworkPop from "@/components/FrameworkPop.vue";
const frameList = [
  {
    name: "VueJs",
    img: "https://upload.wikimedia.org/wikipedia/commons/thumb/9/95/Vue.js_Logo_2.svg/120px-Vue.js_Logo_2.svg.png",
    rating: 10,
  },
  {
    name: "AngularJS",
    img: "https://cdn.icon-icons.com/icons2/2699/PNG/512/angular_logo_icon_169595.png",
    rating: 20,
  },
  {
    name: "ReactJs",
    img: "https://upload.wikimedia.org/wikipedia/commons/thumb/a/a7/React-icon.svg/512px-React-icon.svg.png?20220125121207",
    rating: 14,
  },
];
</script>
<template>
  <v-container>
    <v-row>
      <v-col v-for="(item, index) of frameList" :key="index">
        <FrameworkPop :name="item.name" :img="item.img" :rating="item.rating"></FrameworkPop>
      </v-col>
    </v-row>
  </v-container>
</template>
